.element__delete-btn {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19.3px;
    border: 0;
    background: transparent;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.element__delete-btn:hover {
    opacity: 0.6;
}

.element__delete-btn:focus {
    outline: none;
}